.bandit
.cache/
.coverage
.coverage.*
.coveralls.yml
.eggs/
.hypothesis/
.idea/
.mypy_cache/
.pytest_cache/
.python-version
.tox/
.venv
.vscode/
aiosmtplib.code-workspace
aiosmtplib.egg-info/
aiosmtplib.sublime-project
aiosmtplib.sublime-workspace
build/
coverage.xml
coverage/
dist/
docs/_build/
htmlcov/
test-results/
TODO
venv/
