.bandit
.cache/
.coverage
.coverage.*
.coveralls.yml
.eggs/
.hypothesis/
.mypy_cache/
.pytest_cache/
.python-version
.tox/
aiosmtplib.egg-info/
aiosmtplib.sublime-project
aiosmtplib.sublime-workspace
aiosmtplib.code-workspace
.vscode/
.idea/
build/
coverage/
coverage.xml
htmlcov/
dist/
docs/_build/
test-results/
TODO
venv/
Pipfile
Pipfile.lock
