[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "aiosmtplib"
version = "1.1.0"
description = "asyncio SMTP client"
authors = ["Cole Maclean <hi@cole.io>"]
license = "MIT"
packages = [
    { include = "aiosmtplib", from = "src" }
]
readme = "README.rst"
repository = "https://github.com/cole/aiosmtplib"
documentation = "https://aiosmtplib.readthedocs.io/en/stable/"
keywords = ["smtp", "email", "asyncio"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: No Input/Output (Daemon)",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Communications",
    "Topic :: Communications :: Email",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]
exclude = [
    "docs/requirements.txt",
]
include = [
    "CHANGELOG.rst",
    "LICENSE.txt",
    "README.rst",
    "docs/*",
    "tests/*",
]

[tool.poetry.dependencies]
python = "^3.5.2"

uvloop = { version = "^0.13.0", optional = true }
sphinx = { version = "^2.0.0", optional = true }
sphinx_autodoc_typehints = { version = "^1.7.0", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^5.1.1"
pytest-asyncio = "^0.10.0"
pytest-cov = "^2.7.1"
coverage = "^4.5.4"
hypothesis = "^4.37.0"
aiosmtpd = "1.2"

[tool.poetry.extras]
docs = ["sphinx", "sphinx_autodoc_typehints"]
uvloop = ["uvloop"]
