[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "aiosmtplib"
version = "2.0.0dev0"
description = "asyncio SMTP client"
authors = ["Cole Maclean <hi@colemaclean.dev>"]
license = "MIT"
packages = [
    { include = "aiosmtplib" },
    { include = "tests", format = "sdist" },
    { include = "docs", format = "sdist" },
]
readme = "README.rst"
repository = "https://github.com/cole/aiosmtplib"
documentation = "https://aiosmtplib.readthedocs.io/en/stable/"
keywords = ["smtp", "email", "asyncio"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: No Input/Output (Daemon)",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Communications",
    "Topic :: Communications :: Email",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]
exclude = [
    "docs/requirements.txt",
]
include = [
    { path = "CHANGELOG.rst", format = "sdist" },
]

[tool.poetry.dependencies]
python = "^3.6"

uvloop = { version = ">=0.13,<0.15", optional = true }
sphinx = { version = ">=3,<4", optional = true }
sphinx_autodoc_typehints = { version = "^1.7.0", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^6.2.0"
pytest-asyncio = "^0.14.0"
pytest-cov = "^2.10.0"
coverage = {extras = ["toml"], version = "^5.3.1"}
hypothesis = "^5.35"
aiosmtpd = "^1.4.2"
pytest-xdist = "^2.1.0"
mypy = "^0.790"
flake8 = "^3.8.4"
flake8-bugbear = "^20.11.1"
trustme = "^0.7.0"

[tool.poetry.extras]
docs = ["sphinx", "sphinx_autodoc_typehints"]
uvloop = ["uvloop"]

[tool.pytest.ini_options]
minversion = "6.0"
junit_family = "xunit2"
addopts = "--strict-markers"
testpaths = [
    "tests"
]

[tool.isort]
profile = "black"
lines_after_imports = 2
default_section = "THIRDPARTY"
known_first_party = [ "aiosmtplib" ]

[tool.coverage]

[tool.coverage.run]
source = [ "aiosmtplib" ]
branch = true
parallel = true

[tool.coverage.report]
show_missing = true
exclude_lines = [
    "pass",
    "pragma: no cover",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
]
