[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "aiosmtplib"
version = "1.1.7dev0"
description = "asyncio SMTP client"
authors = ["Cole Maclean <hi@colemaclean.dev>"]
license = "MIT"
packages = [
    { include = "aiosmtplib" },
    { include = "tests", format = "sdist" },
    { include = "docs", format = "sdist" },
]
readme = "README.rst"
repository = "https://github.com/cole/aiosmtplib"
documentation = "https://aiosmtplib.readthedocs.io/en/stable/"
keywords = ["smtp", "email", "asyncio"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: No Input/Output (Daemon)",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Communications",
    "Topic :: Communications :: Email",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]
exclude = [
    "docs/requirements.txt",
]
include = [
    { path = "CHANGELOG.rst", format = "sdist" },
]

[tool.poetry.dependencies]
python = "^3.5.2"

uvloop = { version = ">=0.13,<0.15", optional = true }
sphinx = { version = ">=2,<4", optional = true }
sphinx_autodoc_typehints = { version = "^1.7.0", optional = true }
jinja2 = { version = ">=2.0,<3.1", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^5.4.3"
pytest-asyncio = "0.12.0"
pytest-cov = "^2.9.0"
coverage = "^5.1"
hypothesis = "~4.57"
aiosmtpd = "1.2"
pytest-xdist = "^1.32.0"

[tool.poetry.extras]
docs = ["sphinx", "sphinx_autodoc_typehints", "jinja2"]
uvloop = ["uvloop"]
