version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5

executors:
  circleci_py38:
    docker:
      - image: "cimg/python:3.8"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    resource_class: small
  py36:
    docker:
      - image: "python:3.6-buster"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    resource_class: small
  py37:
    docker:
      - image: "python:3.7-buster"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    resource_class: small
  py38:
    docker:
      - image: "python:3.8-buster"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    resource_class: small
  py39:
    docker:
      - image: "python:3.9-rc-buster"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    resource_class: small
  pypy3:
    docker:
      - image: "pypy:3-buster"
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    resource_class: small

commands:
  python_version:
    description: "Output Python version"
    steps:
      - run:
          command: python -V
          name: "Checking python version"

  tox:
    description: "Run tox"
    steps:
      - restore_cache:
          name: "Restoring cache"
          keys:
            - tox-v6-{{ .Environment.CIRCLE_JOB }}-{{ checksum "tox.ini" }}
            - tox-v6-{{ .Environment.CIRCLE_JOB }}-
      - run:
          command: pip install --upgrade tox tox-venv
          name: "Installing tox & tox-venv"
          environment:
            XDG_CACHE_HOME: "/tmp/cache"
      - run:
          command: tox --workdir /tmp/toxworkdir --installpkg dist/aiosmtplib-*.whl
          name: "Running tox"
          environment:
            XDG_CACHE_HOME: "/tmp/cache"
      - save_cache:
          name: "Updating cache"
          key: tox-v6-{{ .Environment.CIRCLE_JOB }}-{{ checksum "tox.ini" }}
          paths:
            - /tmp/toxworkdir
            - /tmp/cache/pip

jobs:
  lint:
    executor: py38
    steps:
      - python_version
      - checkout
      - restore_cache:
          name: "Restoring pre-commit cache"
          keys:
            - pre-commit-v4-{{ checksum ".pre-commit-config.yaml" }}
            - pre-commit-v4-
      - tox
      - save_cache:
          name: "Updating pre-commit cache"
          key: pre-commit-v4-{{ checksum ".pre-commit-config.yaml" }}
          paths:
            - /tmp/cache/pre-commit
    environment:
      TOXENV: lint

  docs:
    executor: py38
    environment:
      TOXENV: docs
    steps:
      - python_version
      - checkout
      - attach_workspace:
          at: dist
      - tox

  build:
    executor: circleci_py38
    environment:
    steps:
      - python_version
      - checkout
      - run:
          name: Building packages
          command: poetry build -vv
      - persist_to_workspace:
          root: dist
          paths:
            - aiosmtplib-*.tar.gz
            - aiosmtplib-*.whl
      - store_artifacts:
          path: dist/

  test:
    executor: <<parameters.executor_name>>
    environment:
      COVERAGE_FILE: "coverage-results/.coverage.<<parameters.executor_name>>-<<parameters.event_loop>>"
      HYPOTHESIS_PROFILE: "ci"
      TOXENV: "<<parameters.executor_name>>-<<parameters.event_loop>>"
    parameters:
      executor_name:
        type: string
        description: "executor name"
      event_loop:
        description: "event loop type (asyncio or uvloop)"
        default: "asyncio"
        type: enum
        enum:
          - asyncio
          - uvloop
    steps:
      - python_version
      - checkout
      - attach_workspace:
          at: dist
      - restore_cache:
          name: "Restoring hypothesis database"
          keys:
            - "hypothesis-v3-<<parameters.executor_name>>"
      - tox
      - save_cache:
          name: "Updating hypothesis database"
          key: "hypothesis-v3-<<parameters.executor_name>>"
          paths:
            - ~/project/.hypothesis
      - store_test_results:
          path: test-results
      - persist_to_workspace:
          root: coverage-results
          paths:
            - .coverage.*

  coverage:
    executor: py38
    environment:
      TOXENV: coverage
    steps:
      - python_version
      - checkout
      - attach_workspace:
          at: coverage-results
      - run:
          name: "Copy coverage results from workspace"
          command: cp coverage-results/.coverage.* ./
      - tox
      - store_artifacts:
          path: coverage.xml
      - store_artifacts:
          path: htmlcov
      - codecov/upload:
          file: coverage.xml

  deploy_to_pypi:
    executor: circleci_py38
    steps:
      - python_version
      - checkout
      - attach_workspace:
          at: dist
      - run:
          name: Uploading to Test PyPI
          command: |
            poetry config repositories.testpypi https://test.pypi.org/simple
            poetry publish -vv --repository testpypi --username $TESTPYPI_USERNAME --password $TESTPYPI_PASSWORD
      - run:
          name: Uploading to PyPI
          command: poetry publish -vv --username $PYPI_USERNAME --password $PYPI_PASSWORD

workflows:
  version: 2
  lint_and_test:
    jobs:
      - lint:
          context:
            - docker-hub-credentials
          filters:
            tags:
              only: /.*/
      - build:
          context:
            - docker-hub-credentials
          filters:
            tags:
              only: /.*/
      - docs:
          requires:
            - lint
            - build
          context:
            - docker-hub-credentials
          filters:
            tags:
              only: /.*/
      - test:
          name: "test-<< matrix.executor_name >>-<<matrix.event_loop>>"
          requires:
            - lint
            - build
          context:
            - docker-hub-credentials
          matrix:
            parameters:
              event_loop:
                - asyncio
                - uvloop
              executor_name:
                - py36
                - py37
                - py38
                - py39
                - pypy3
            exclude:
              - executor_name: pypy3
                event_loop: uvloop
          filters:
            tags:
              only: /.*/
      - coverage:
          requires:
            - test
          context:
            - docker-hub-credentials
          filters:
            tags:
              only: /.*/
      - deploy_to_pypi:
          requires:
            - build
            - lint
            - docs
            - test
          context:
            - docker-hub-credentials
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
